{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-4 text-center">Reservation de Rendez-vous </h1>

    <div class="table-responsive">
        {% if reservations is not empty %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="c-black" scope="col">Id RDV</th>

                    <th class="c-black" scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for reservation in reservations %}
                    <tr>
                        <td class="c-black">{{ reservation.rdv ? reservation.rdv.id : 'Pas d\'habitat associé' }}</td>

                        </td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('view_reservation_rdv', {'id': reservation.id}) }}">Voir cette réservation</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">Aucune réservation effectuée à ce jour.s</p>
        {% endif %}
    </div>



      <h1 class="my-4 text-center">Reservation de produits</h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>

            <th class="c-black" scope="col">Reservations produits</th>


                <th class="c-black" scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for produit in produits %}
              <tr>
                <td class="c-black">{{ produit.habitat ? produit.habitat.id : 'Pas d\'habitat associé' }}</td>




                      <td><a class="btn btn-warning" href="{{ path('view_reservation', {'id': produit.id}) }}">Voir se produits</a>
    </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>



{% endblock %}
